{% extends 'app1/base.html' %}

{% block content %}
<center>
    <h1>{{project_name}}</h1>

    <!--Boxes-->
    <div class="container" id="my-gradient-container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card" style="text-align: center;border-radius: 25px;background: linear-gradient(150deg, #39ef74, #4600f1 100%)">
                    <div class="card-body">
                        <p>Box 1</p>
                        <br>
                        <p>Some info</p>
                        <br>
                        <p>Some info</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="text-align: center;border-radius: 25px;background: linear-gradient(150deg, #f731db, #4600f1 100%);">
                    <div class="card-body">
                        <p>Box 2</p>
                        <br>
                        <p>Some info</p>
                        <br>
                        <p>Some info</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="text-align: center;border-radius: 25px;background: linear-gradient(150deg, #39ef74, #4600f1 100%)">
                    <div class="card-body">
                        <p>Box 3</p>
                        <br>
                        <p>Some info</p>
                        <br>
                        <p>Some info</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--        <p>You are checking this website on {{month}} {{year}}</p>-->
    <!--        <br/>-->

    <!--        On the calender: <br/><br/>-->

    <!--        {{calendar_var|safe}}-->
</center>
{% endblock %}